.container{
    background: rgb(0,232,255);
    background: linear-gradient(0deg, rgba(0,232,255,1) 0%, rgba(4,0,254,1) 100%);
   
    height: 110vh;
    
    background-position:center;
    block-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 70px;
    font-family: calibri;
    
    
}

.second-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    margin:10px;
  }
  
 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
 
  .flip-card-back {
    background: rgb(255,252,0);
background: linear-gradient(0deg, rgba(255,252,0,1) 0%, rgba(254,0,0,1) 100%);
    color: white;
    text-shadow:1px 2px 1px black ;
    font-size: 18px;
    transform: rotateY(180deg);
    margin-bottom: 10px;
    
  }

  h2 {
      font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
  }

 
  
  .dark-mode {
    background-color: black;
    color: white;
  }

  @media (max-width: 1300px) {
    .second-container {
      background-color: green;
    }
  }
